.arrow__header {
    position: absolute;
    top: 25%;
    left: 5%;
}

img {
    object-fit: cover;
    width: 100%;
    height: 16rem;
}

.cardMenu {
    @include card;
    @include box-shadox;
    @include flex;
    margin: 1rem 0rem;
    padding: .8rem;
    background-color: rgb(255, 255,255);
    overflow: hidden;
    justify-content: space-between;
    animation: cardAnimation .6s;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    animation-fill-mode: both;
    transform: scale(0);
    &__info {
        @include flex-item-end;
        flex: 1;
    }
    &__title {
        margin-bottom: .5rem;
    }
    &__description {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        > p {
            font-weight: lighter;
        }
    }
    &__price {
        margin-right: 2rem;
        @include flex-item-end;
    }
    &__check {
        @include flex-content-center;
        align-items: center;
        background-color: #99e2d0;
        color: white;
        margin: -0.8rem -4.8rem -0.8rem -1rem;
        width: 4rem;
        transition-duration: .5s;
        &__icon {
            transform: rotate(180deg);
            cursor: pointer;
        }
    }
    &:hover .cardMenu__check {
        margin-right: -.8rem;
        &__icon {
            transform: rotate(0deg);
            transition-duration: .5s;
            //transform-origin: ;

        }
    }
}



.container {
    background-color: map-get($color, discovery );
    padding: 30px 15px;
    border-radius: 40px 40px 0 0;
    position: relative;
    z-index: 1;
    margin-top: -3rem;
    &__title {
        @include flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        > h2 {
            font-family: 'Shrikhand', cursive;
        }        
    }
    &__subTitle{
        font-weight: lighter;
        position: relative; 
        padding-bottom: 0.5rem;       
        &::after {
            content:'';
            width: 3rem;
            height: 0.25rem;
            background-color: #99e2d0;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
    > .discovery__btncontainer {
        margin-top: 3rem;
        margin-bottom: 4rem;
        > button {
            padding: 1rem 3rem;
        }
    }

    &__plats {
        margin-bottom: 3rem;
    }
}
.delay1 {
    animation-delay: .1s;
}

.delay2 {
    animation-delay: .2s;
}

.delay3 {
    animation-delay: .3s;
}

.delay4 {
    animation-delay: .4s;
}

.delay5 {
    animation-delay: .5s;
}

.delay6 {
    animation-delay: .6s;
}

.delay7 {
    animation-delay: .7s;
}

.delay8 {
    animation-delay: .8s;
}

.delay9 {
    animation-delay: .9s;
}

@keyframes cardAnimation {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    
}


