@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700;800&family=Shrikhand&display=swap");
.discovery__subtitle, .discovery__title, .search {
  text-align: center;
}

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  counter-reset: countList;
}

.header {
  position: relative;
  box-shadow: 0px 5px 10px 0px #d2d2d2;
}
.header__logo {
  font-family: "Shrikhand", cursive;
  text-align: center;
  padding: 0.5rem;
}

.heart__icone {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.heart__icone:active {
  background: linear-gradient(rgba(134, 147, 86, 0.862745098), #FF79DA);
  font-weight: 600;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search {
  padding: 1rem;
  background-color: rgb(229, 229, 229);
}
.search__input {
  border: none;
  background-color: rgb(229, 229, 229);
  font-weight: 500;
}

.discovery {
  background-color: rgb(244, 244, 244);
  height: 17rem;
}
.discovery__title {
  padding: 3rem 3rem 1rem 3rem;
  font-weight: 800;
}
.discovery__subtitle {
  font-weight: 100;
  padding: 0rem 1rem 2rem 1rem;
}
.discovery__btncontainer {
  text-align: center;
}
.discovery__btncontainer > button {
  background: linear-gradient(to bottom right, #E770DA, #9D5ADC);
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 30px 30px 30px 30px;
  align-items: center;
  border: none;
  box-shadow: 0px 3px 5px 0px #bdc2b8;
}

.operation__title {
  padding: 3rem 0rem 0rem 1.5rem;
}
.operation__cardcontainer > .card {
  background-color: rgb(244, 244, 244);
  padding: 1.5rem;
  border-radius: 20px 20px 20px 20px;
  margin: 1rem 1rem 1rem 2.2rem;
  box-shadow: 0px 3px 5px 0px #bdc2b8;
}
.operation__cardcontainer > .card > .operation__icone {
  margin-right: 0.5rem;
  color: rgb(128, 128, 128);
}
.operation__cardcontainer > .card::before {
  counter-increment: countList 1;
  content: counter(countList) " ";
  border-radius: 100%;
  background-color: rgb(147, 86, 220);
  position: absolute;
  left: 1.5rem;
  width: 22px;
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.restaurant {
  background-color: rgb(244, 244, 244);
}
.restaurant__title {
  padding: 3rem 0rem 0rem 1.5rem;
}
.restaurant__container {
  padding: 1rem 1rem 1rem 1rem;
}

.card__restaurant {
  margin: 1.5rem;
  border-radius: 20px;
  background-color: white;
  position: relative;
}
.card__restaurant__new {
  position: absolute;
  width: 85px;
  height: 30px;
  background-color: rgb(137, 221, 198);
  right: 1rem;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  color: rgb(0, 107, 68);
}
.card__restaurant > img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.card__restaurant__explication {
  margin: 0;
  padding: 0rem 0rem 1rem 1rem;
}
.card__restaurant__explication > .heart__icone {
  position: relative;
  top: 2rem;
  left: 80%;
}
.card__restaurant__town {
  font-weight: lighter;
}

.arrow__header {
  position: absolute;
  top: 25%;
  left: 5%;
}

img {
  object-fit: cover;
  width: 100%;
  height: 16rem;
}

.cardMenu {
  background-color: rgb(244, 244, 244);
  padding: 1.5rem;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 3px 5px 0px #bdc2b8;
  display: flex;
  margin: 1rem 0rem;
  padding: 0.8rem;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  justify-content: space-between;
  animation: cardAnimation 0.6s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
}
.cardMenu__info {
  display: flex;
  align-items: flex-end;
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cardMenu__title {
  margin-bottom: 0.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cardMenu__description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cardMenu__description > p {
  font-weight: lighter;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cardMenu__price {
  margin-right: 2rem;
  display: flex;
  align-items: flex-end;
}
.cardMenu__check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  color: white;
  margin: -0.8rem -4.8rem -0.8rem -1rem;
  width: 4rem;
  transition-duration: 0.5s;
}
.cardMenu__check__icon {
  transform: rotate(180deg);
  cursor: pointer;
}
.cardMenu:hover .cardMenu__check {
  margin-right: -0.8rem;
}
.cardMenu:hover .cardMenu__check__icon {
  transform: rotate(0deg);
  transition-duration: 0.5s;
}

.container {
  background-color: rgb(244, 244, 244);
  padding: 30px 15px;
  border-radius: 40px 40px 0 0;
  position: relative;
  z-index: 1;
  margin-top: -3rem;
}
.container__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.container__title > h2 {
  font-family: "Shrikhand", cursive;
}
.container__subTitle {
  font-weight: lighter;
  position: relative;
  padding-bottom: 0.5rem;
}
.container__subTitle::after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}
.container > .discovery__btncontainer {
  margin-top: 3rem;
  margin-bottom: 4rem;
}
.container > .discovery__btncontainer > button {
  padding: 1rem 3rem;
}
.container__plats {
  margin-bottom: 3rem;
}

.delay1 {
  animation-delay: 0.1s;
}

.delay2 {
  animation-delay: 0.2s;
}

.delay3 {
  animation-delay: 0.3s;
}

.delay4 {
  animation-delay: 0.4s;
}

.delay5 {
  animation-delay: 0.5s;
}

.delay6 {
  animation-delay: 0.6s;
}

.delay7 {
  animation-delay: 0.7s;
}

.delay8 {
  animation-delay: 0.8s;
}

.delay9 {
  animation-delay: 0.9s;
}

@keyframes cardAnimation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.footer {
  background-color: rgb(40, 40, 40);
}
.footer__container {
  padding-bottom: 40px;
}
.footer__list > li {
  list-style-type: none;
  color: white;
  padding-bottom: 5px;
}
.footer__logo {
  color: white;
  font-family: "Shrikhand", cursive;
  padding: 1rem 0rem 1rem 2.5rem;
}
.footer__link {
  text-decoration: none;
  color: white;
  text-align: center;
}
.footer__icon {
  padding-right: 10px;
  width: 1rem;
}

/*# sourceMappingURL=style.css.map */
