// Partie de la recherche
.search {
    @extend %textcenter;
    padding: 1rem;
    background-color:map-get($color, search );
    &__input {
        border: none;
        background-color: map-get($color, search);
        font-weight: map-get($weight, five );
    }
}

.discovery {
    background-color: map-get($color, discovery );
    height: 17rem;
    &__title {
        @extend %textcenter;
        padding: 3rem 3rem 1rem 3rem;
        font-weight: map-get($weight, eight);
    }
    &__subtitle {
        font-weight: map-get($weight, one );
        padding: 0rem 1rem 2rem 1rem;
        @extend %textcenter;
    }
    &__btncontainer {
        text-align: center;
        > button {
            background: map-get($color, linard);
            color: white;
            padding: 0.8rem 1.5rem;
            border-radius: 30px 30px 30px 30px;
            align-items: center;
            border: none;
        }
    }
}

.operation {
    &__title {
        padding: 3rem 0rem 0rem 1.5rem;
    }
    &__cardcontainer {
        > .card {
            background-color: map-get($color, discovery);
            margin: 1rem;
            padding: 1.5rem;
            border-radius: 20px 20px 20px 20px;
            > i {
                margin-right: 0.5rem;
            }
            &::before {
                counter-increment: countList 1;
                content: counter(countList) " ";
            }
        }

    }

}