// $name: (key1: value1, key2: value2, key3: value3);

$color:(
    search:  rgb(229, 229, 229),
    discovery:  rgb(244, 244, 244),
    blue: rgb(167,93,220),
    blueN : rgb(147,86,220),
    linard : linear-gradient(to bottom right, #E770DA, #9D5ADC),
    grey: rgb(128, 128,128),
    blanc: white,
    new: rgb(0,107,68),
    bgNew: rgb(137,221,198),
    fColor: rgb(40,40,40)
);

$weight:(
    one: 100,
    two: 200,
    three:300,
    four:400,
    five:500,
    six:600,
    seven:700,
    eight:800,
);