// $name: (key1: value1, key2: value2, key3: value3);

$color:(
    search:  rgb(234, 234, 234),
    discovery:  rgb(246, 246, 246),
    blue: rgb(167,93,220),
    blueN : rgb(147,86,220),
    linard : linear-gradient(to bottom right, #E770DA, #9D5ADC),

);

$weight:(
    one: 100,
    two: 200,
    three:300,
    four:400,
    five:500,
    six:600,
    seven:700,
    eight:800,
);